.chart
  .graph
    padding: 45px 0px
    position: relative
    .y-axis
      position: absolute
      padding: 0
      margin: 0
      list-style-type: none
      border-style: none dashed none none
      border-width: 1px
      top: 40px
      li 
    .x-axis
      padding: 10px 0
      position: absolute
      left: 0
      border-style: dashed none none none
      border-width: 1px
      li
        display: inline-block
        -webkit-transform: rotate(45deg)
    .bars
      .bar
        display: inline-block
        color: white
        .pop
          background-color: rgba(0,0,0, 0.2)
      .hidden
        visibility: hidden

    .y-axis, .bars 
      display: inline-block